{% extends 'probase.html.twig' %}

{% block title %}ПчелоМатка{% endblock %}


{% block menupro %}
    {{ include('app/proekts/_tabs.html.twig') }}
    {{ include('app/proekts/page_glavas/pchelomatka/_tabs.html.twig') }}
{% endblock %}

 {% block kroxii %}
     <a href="{{ path('app.proekts.page_glavas.pchelomatka.spisok-instr') }}">Инфа: после регистрации.</a>
     <span class="aktiv ">Инфа: Все переходы</span>
     {#     <a href="{{ path('app.proekts.pasekas.pchelomatkas.pchelomatka.redaktors.instr') }}">Инфа: Все переходы</a>#}
     <a href="{{ path('app.proekts.pasekas.pchelomatkas.spisoks') }}">Список Пчело-Маток</a>

 {% endblock %}

{% block bodyy %}
    <div class=" pa-to-2  ">

        <div class=" ma-bo-2 zagol-teni-44 col-bel-text">
            Инфа: Все переходы.
            <p> Работа   <span class="col-kras">с конкретной </span> маткой. &nbsp;</p>
        </div>
    </div>
    <div class="proekts-plr  ">

        <ul class="mestoo__title">

            <li class="zagol-teni-44  zagol-teni-44--px32 col-bel-text ">
                    Все переходы.
            </li>
            <li class="mestoo__title-item ">
                <div class="foto-pchelo pchel-redakt"></div>
            </li>
        </ul>


        <ul class="mestoo__title">
            <li class="mestoo__title-item mestoo__nomer">
                2)
            </li>

            <li class="mestoo__title-item mestoo__nomer">
                <a href="{{ path('app.proekts.pasekas.pchelomatkas.kategoris.kategor') }}">
                    Изменить статус
                </a>
            </li>
        </ul>
        <ul class="mestoo__title">
            <li class="mestoo__title-item mestoo__nomer">
                3)
            </li>

            <li class="mestoo__title-item mestoo__nomer">
                <a href="{{ path('app.proekts.pasekas.pchelomatkas.kategoris.kategor') }}">
                    Добавить сезон
                </a>
            </li>
        </ul>

    </div>
    </div>
{% endblock %}