{% extends 'probase.html.twig' %}

{% block title %}ПчелоМатка{% endblock %}


{% block menupro %}
    {{ include('app/proekts/_tabs.html.twig') }}
    {{ include('app/proekts/page_glavas/pchelomatka/_tabs.html.twig') }}
{% endblock %}

 {% block kroxii %}
     <a href="{{ path('app.proekts.page_glavas.pchelomatka.spisok-instr') }}">Инфа: после регистрации.</a>
     <span class="aktiv ">Инфа: Все переходы</span>
     {#     <a href="{{ path('app.proekts.pasekas.pchelomatkas.pchelomatka.redaktors.instr') }}">Инфа: Все переходы</a>#}
     <a href="{{ path('app.proekts.pasekas.pchelomatkas.spisoks') }}">Список Пчело-Маток</a>

 {% endblock %}

{% block bodyy %}
    <div class=" pa-to-2  ">

        <div class=" ma-bo-2 zagol-teni-44 col-bel-text">
            Инфа: Все переходы.
            <p> Работа <span class="col-kras">с конкретной </span> маткой. &nbsp;</p>
        </div>
    </div>
    <div class="proekts-plr  ">

        <ul class="mestoo__title">

            <li class="zagol-teni-44  zagol-teni-44--px32 col-bel-text ">
                 Переходы - <span class="col-kras">не все </span>
                <p> Пояснения на 3)</p>
            </li>
            <li class="mestoo__title-item ">
                <div class="foto-pchelo pchel-redakt-0"></div>
            </li>
        </ul>


        <ul class="mestoo__title">
            <li class="zagol-teni-44  zagol-teni-44--px32 col-bel-text ">
                1) Комментарий (редак-вать)
            </li>

            <li class="mestoo__title-item ">
                <div class="foto-pchelo pchel-redakt-1"></div>
            </li>
        </ul>

        <ul class="mestoo__title">
            <li class="zagol-teni-44  zagol-teni-44--px32 col-bel-text ">
                2) Изменить статус
            </li>

            <li class="mestoo__title-item ">
                <div class="foto-pchelo pchel-redakt-2"></div>
            </li>
        </ul>
    <div class="ma-to-2">
        <ul class="mestoo__title">
            <li class="zagol-teni-44  zagol-teni-44--px32 col-bel-text ">
                3)Если объявленных сезон - нет,
                жмём на кнопку: <p>Добавить 3-и сезона</p>
            </li>

            <li class="mestoo__title-item ">
                <div class="foto-pchelo pchel-redakt-3"></div>
            </li>
        </ul>

        <ul class="mestoo__title">
            <li class="zagol-teni-44  zagol-teni-44--px32 col-bel-text ">
                После добавления сезонов -
                появляются дополнительные переходы
            </li>

            <li class="mestoo__title-item ">
                <div class="foto-pchelo pchel-redakt-4"></div>
            </li>
        </ul>

    </div>
    </div>
{% endblock %}