{% extends 'probase.html.twig' %}

{% block title %}ПчелоМатка{% endblock %}


{% block menupro %}
    {{ include('app/proekts/_tabs.html.twig') }}
    {{ include('app/proekts/page_glavas/pchelomatka/_tabs.html.twig') }}
{% endblock %}

{% block kroxii %}
    <a href="{{ path('app.proekts.page_glavas.pchelomatka') }}"> Инструкции.</a>
    <a href="{{ path('app.proekts.page_glavas.pchelomatka.spisok-instr') }}"> После регистрации матки.</a>
    <span class="aktiv ">Перед регистрацией матки.</span>
{% endblock %}

{% block bodyy %}
    <div class=" proekts ">

        <div class="inklud inklud--pchelomat ">

            <div class="pchelo-title  pchelo-teni ">
                <span class="col-kras">Перед </span> Перед регистрацией матки &nbsp;
            </div>
        </div>
        <div class="proekts-plr  ">

            <ul class="mestoo__title">

                <li class="sidebarr__footer-text ">
                    Пред регистрацией Пчело - Матки, обязательно определитесь с
                    <span class="blink"> категориями.</span>
                    <p class="ma-bo-1">
                        Возможно у Вас свои представления о названиях
                        категорий и их <span class="blink">характеристиках. </span>
                    </p>
                    Пишите, обсудим и добавим.
                    <p class="ma-to-1">
                        <a class="btnn btnn-filtr"
                           href="{{ path('app.proekts.pasekas.pchelomatkas.kategoris.kategor') }}">
                            Категории. Трут. фон
                        </a>
                    </p>
                </li>

                <li class="mestoo__title-item ">
                    <div class="foto-pchelo pchel-kateg"></div>
                </li>
            </ul>

            <ul class="mestoo__title">
                <li class="sidebarr__footer-text ">
                    Пожалуйста, заранее проверьте наличие нужного названия
                    <span class="blink"> расы.</span>
                    <p class="ma-bo-1">
                        В списке нет -

                        <span class="blink">напишите запрос. </span>
                    </p>
                    Модератор добавит ещё одну расу в БД.
                    <p class="ma-to-1">
                        <a class="btnn btnn-filtr"
                           href="{{ path('app.proekts.pasekas.pchelomatkas.rasa-pchelos.rasapchelo') }}">
                            Расы - смотреть
                        </a>
                    </p>
                </li>
                <li class="mestoo__title-item ">
                    <div class="foto-pchelo pchel-rasa"></div>
                </li>
            </ul>

            <ul class="mestoo__title">
                <li class="sidebarr__footer-text ">
                    Регистрация
                    <span class="blink"> Пчело - Матки.</span>
                    <p class="ma-bo-1">
                        Все получится!
                    </p>
                    Если возникут вопросы, то на страничке слева - будут пояснения
                    <p class="ma-to-1">
                        <a class="btnn btnn-filtr"
                           href="{{ path('app.proekts.pasekas.pchelomatkas.pchelomatka.creates.create') }}">
                            Регистрация
                        </a>
                    </p>
                </li>
                <li class="mestoo__title-item ">
                    <div class="foto-pchelo pchelo-reg"></div>
                </li>
            </ul>

            <ul class="mestoo__title">
                <li class="sidebarr__footer-text ">
                    Все получилось!

                    <p class="ma-to-1">
                        По ссылке:
                    </p>
                    <p>
                        <a href="{{ path('app.proekts.page_glavas.pchelomatka.spisok-instr') }}">
                            Забыли что дальше? Жмите тут,
                        </a>
                    </p>
                    <p>
                        со странички <span class="blink">Список</span> перейдёте к разбору
                        всех  возможных переходов
                    </p>
                    <p class="ma-to-1">
                        <a class="btnn btnn-filtr"
                           href="{{ path('app.proekts.pasekas.pchelomatkas.spisoks') }}">
                            Список
                        </a>
                    </p>
                </li>
                <li class="mestoo__title-item ">
                    <div class="foto-pchelo pchelo-spisok"></div>
                </li>
            </ul>

        </div>
    </div>
{% endblock %}